body{
margin:0px;
FONT-FAMILY: Arial, Helvetica, sans-serif;
}
INPUT
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    BACKGROUND: #ffffff;
    COLOR: #006699;
    FONT-STYLE: normal;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-ALIGN: left
}

INPUT.Disabled 
{
	COLOR: silver; BACKGROUND-COLOR: #e8e8e8
}

input[type=image]  {
outline: none;
border: 0px solid #77BACE;
border-radius:6px;
}

input[type=text], input[type=password], input[type=checkbox], input[type=radio]  {
outline: none;
border: 1px solid #77BACE;
border-radius:6px;
FONT-SIZE: 11px;
}

SELECT
{
    outline: none;
    border: 1px solid #77BACE;
    border-radius:6px;
	color:#666666;
	height: 25px;
	padding: 3px;
	FONT-SIZE: 11px;
}
	.style1 {
		color: #EE0000;
		font-weight: bold;
	}
	.style4 {font-family: Arial; font-size: 11px; color: #000000;}
	.style5 {
		font-size: 10px;
		font-family: Arial;
	}
	.Estilo1 {	font-family: Arial;
		font-size: 18px;
		font-weight: bold;
	}
	.Estilo2 {	color: #FFCC00;
		font-family: Arial;
		font-weight: bold;
		font-size: 20px;
	}
	.style2 {color: #FF6666}
th.bg_item_th {
	
	background: url("../img/header/bg_item_th.png") repeat-x center top;
	color: #fff;
	text-align: center;
	font-size: 12px;
	font-weight: normal;
}
